<div fxLayout="row" fxFill fxLayoutGap="10px">

    <div fxFlex="20" fxLayoutAlign="center center">

        <filter-bar></filter-bar>

    </div>
    <div fxFlex="80" fxLayoutAlign="center center">

        <div fxLayout="column" fxFill>

            <div fxFlex="100" style="background-color: #4d4d4d">

                <div fxFlex="100">
                    <div fxLayout="row" fxLayoutGap="10px">

                        <div fxFlex="50" fxLayoutAlign="center center">A</div>
                        <div fxFlex="50" fxLayoutAlign="center center">B</div>

                    </div>
                </div>
            </div>

            <div fxFlex="100" style="background-color: #8e9093">
                Util Deck
            </div>
        </div>
    </div>
</div>
