.App {
  text-align: center;
}

.App-header {
  background-color: #FAFAFA;
  height: 220px;
  padding: 60px;
  color: #795548;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Welcome-title {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
