:host {

    height: 100%;

    md-card {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    md-card-content {
        height: 72vh;
        overflow-y: auto;
    }

}
