:host {

    display: flex;

    width: 25vw;
    height: 88vh;

    margin-left: 0;

    md-card {

        form {

            md-form-field {
                width: 100%;
            }

        }

    }
}
