:host {

    display: flex;
    height: 88vh;
    width: 25vw;
    margin-left: 0;

    md-card {

        md-form-field {
            float: left;
        }

        button {
            float: right;
        }

        md-card-content {

            height: 64vh;
            overflow-x: auto;
            float: left;
            width: 100%;

            md-header-row {
                display: none;
            }

            md-cell:first-child {
                flex: 1;
            }

            md-cell {
                font-size: small;
                flex: 3;
            }

        }

        md-card-footer {
            display: block;
            position: absolute;
            width: 90%;
            bottom: 50px;
            margin: 0 0 -48px -4px;
        }

        md-paginator {

            .mat-paginator-page-size {
                color: #2ec95c;
                display: none !important;
            }

            .mat-paginator-page-size-label {
                display: none !important;
            }

        }

    }
}
