<md-card>

    <md-card-subtitle>

        <button md-icon-button (click)="clear()">
            <md-icon>clear</md-icon>
        </button>

        <md-form-field>
            <input mdInput #filter (keyup.enter)="search()" (keyup.esc)="clear()" placeholder="Filter">
        </md-form-field>

    </md-card-subtitle>

    <md-card-content>

        <md-table #table [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container mdColumnDef="method">
                <md-header-cell *mdHeaderCellDef> HTTP</md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.method}}</md-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container mdColumnDef="path">
                <md-header-cell *mdHeaderCellDef> Path</md-header-cell>
                <md-cell *mdCellDef="let row"> {{row.path}}</md-cell>
            </ng-container>

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;" (click)="selectedEndpoint(row)"></md-row>
        </md-table>

    </md-card-content>

    <md-card-footer>

        <md-paginator #paginator
                      [length]="dataProvider.data.length"
                      [pageIndex]="0"
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>

    </md-card-footer>

</md-card>
