@import './src/styles/variables';

:host {

    md-sidenav {
        width: 25vw;
    }

    md-list-item {
        border-bottom: 1px solid $menu-list-separator;

        a {
            color: $menu-list-text;
        }
    }

    .sidenav-close-button {
        position: fixed;
        right: 0;
    }

    .container {
    }

}
