<md-sidenav-container fullscreen>

  <md-toolbar color="primary">

    <button md-icon-button (click)="sidenav.open()">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav #sidenav class="sidebar">

    <md-toolbar color="primary" (click)="sidenav.close()">
      <h1>Menu</h1>

      <button class="sidenav-close-button" md-icon-button>
        <md-icon>close</md-icon>
      </button>

    </md-toolbar>

    <md-list>
      <md-list-item> Dashboard </md-list-item>
      <md-list-item> Endpoints </md-list-item>
      <md-list-item> Settings </md-list-item>
    </md-list>

  </md-sidenav>

  <dashboard></dashboard>

</md-sidenav-container>
