@import './src/styles/colors';

:host {

  md-sidenav {
    width: 25vw;
  }

  md-list-item {
    border-bottom: 1px solid  $light-grey;
  }

  .sidenav-close-button {
    position: fixed;
    right: 0;
  }

}
