<div fxLayout="column" fxFill fxLayoutGap="10px">

    <div fxFlex="50">

        <div fxFlex="100">
            <div fxLayout="row" fxLayoutGap="10px">

                <div fxFlex="50" fxLayoutAlign="center center">
                    <requester></requester>
                </div>
                <div fxFlex="50" fxLayoutAlign="center center">
                    <endpoint-info></endpoint-info>
                </div>

            </div>
        </div>
    </div>

    <div fxFlex="50">
        <endpoint-log></endpoint-log>
    </div>
</div>
