<div>
    <md-grid-list cols="10">
        <md-grid-tile [colspan]="2" [rowspan]="4" style="background-color: grey;">
            DASHBOARD
        </md-grid-tile>
        <md-grid-tile [colspan]="8" [rowspan]="2" style="background-color: darkgrey;">
            <p>Fazer componente de indicador (loaded endpoints, active users, tomcat overview)</p>
        </md-grid-tile>
        <md-grid-tile [colspan]="8" [rowspan]="2" style="background-color: dimgrey;">
            Three
        </md-grid-tile>
    </md-grid-list>

</div>
