<md-card>

    <md-card-content fxLayout="row" *ngIf="!endpoint">
        <div fxFlex fxLayoutAlign="center center">
            <h2>No one endpoint selected. Please choose one to make the request! =]</h2>
        </div>
    </md-card-content>

    <md-card-content fxLayout="row" *ngIf="endpoint">

        <div fxFlex="120px" class="request-type">
            <h2>{{endpoint.method}}</h2>
        </div>

        <div fxFlex="60%" class="request-path">
            <h3>{{endpoint.path}}</h3>
        </div>

        <div fxFlex fxLayoutAlign="center center">
            <button md-mini-fab class="send-button" mdTooltip="Send" [mdTooltipPosition]="'below'" (click)="doRequest()">
                <md-icon class="md-8" aria-label="Send">send</md-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center">

            <button md-mini-fab class="edit-button" mdTooltip="Edit" [mdTooltipPosition]="'below'">
                <md-icon class="md-8" aria-label="Edit">edit</md-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center">

            <button md-mini-fab class="log-button" mdTooltip="See log" [mdTooltipPosition]="'below'">
                <md-icon class="md-8" aria-label="See log">playlist_play</md-icon>
            </button>
        </div>
        <div fxFlex fxLayoutAlign="center center">

            <button md-mini-fab class="remove-button" mdTooltip="Remove" [mdTooltipPosition]="'below'">
                <md-icon class="md-8" aria-label="Remove">delete</md-icon>
            </button>
        </div>
    </md-card-content>

</md-card>
