<md-card>

    <md-card-content fxLayout="row">

        <div fxFlex="120px" class="request-type">
            <h2>GET</h2>
        </div>

        <div fxFlex="60%" class="request-path">
            <h3>/lyre/to/test/with/a/long/path/inside/this/div/with/some/styles/yeah</h3>
        </div>

        <div fxFlex>
            <button md-raised-button color="primary">Primary</button>

            <button md-mini-fab >
                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
            </button>
            <button md-mini-fab color="primary">
                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
            </button>
            <button md-mini-fab color="primary">
                <md-icon class="md-24" aria-label="Example icon-button with a heart icon">favorite</md-icon>
            </button>

        </div>

    </md-card-content>

</md-card>
