@import '../../../../styles/variables';
@import '../../../../styles/colors';

:host {

    width: 100%;
    height: 100%;

    md-card {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    md-card-content {
        height: 100%;

        .request-type {
            text-align: center;
            height: 100%;
            border-right: 2px solid $separator;
        }

        .request-path {
            padding: 3px 0 0 16px;
            border-right: 2px solid $separator;
            text-overflow: ellipsis;
            box-sizing: border-box;
            width: 100%;

            h3 {
                width: 100%;
                display: inline-block;
            }
        }

        .send-button {
            background-color: $success;
        }

        .edit-button {
            background-color: $grey;
        }

        .log-button {
            background-color: $dark-grey;
        }

        .remove-button {
            background-color: $warn;
        }

    }

}
