/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

[context] {
    padding: 8px;
}

.mat-paginator {
    justify-content: space-around !important;
}

.mat-paginator-page-size-label, .mat-paginator-range-label {
    display: none !important;
}


.mat-paginator-page-size-select .mat-select-trigger {
    min-width: 100px !important;
}
